{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Home{% endblock meta_title %}
{% block content %}
      <div class="container">
        <div class="row">
          <div class="span12"> 
          <!-- slider -->
            <div class="flexslider">
              <ul class="slides">
                {% for slide in slides%}
                <li> <img src="{{ slide.image }}" alt="" > </li>
                {% endfor%}
              </ul>
            </div>
            <span id="responsiveFlag"></span>
            <div class="block-slogan">
              <h2>Hi!</h2>
              <div>
                <p>This site was developed in Python/Django + Bootstrap in order to practice my skills.
                  <br>The purpose of this site is to create my own blog and visiting card.</p>
              </div>
            </div>
          </div>
        </div>
      </div>      
      <!-- content -->      
      <div id="content" class="content-extra">
        <div class="ic"></div>        
        <div class="row-1">
          <div class="container">
            <div class="row">
              <article class="span12">
                <h4>Last article from blog</h4>
              </article>
              <ul class="thumbnails thumbnails-1">
                <li class="span3">
                  <div class="thumbnail thumbnail-1">
                    <h3>Programming</h3>                    
                    {% for p in programing %}
                    <img  src="{{p.image}}" alt="">
                    <section> 
                		  <a href="#"><h3>{{p.title}}</h3></a>
                	    <div class="meta">
                        <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i> {{p.createdate}}</time>
                        <div class="name-author"><i class="icon-user"></i> <a href="#">{{p.author}}</a></div>
                        <a href="#" class="comments"><i class="icon-comment"></i> {{p.commentscnt}} comments</a>
                      </div> 
                      <div class="clear"></div>
                      <p>{{p.smallcontent}}</p>
                      <a href="#" class="btn btn-1">Read More</a>
                    </section>
                    {% endfor %}
                  </div>
                </li>
                <li class="span3">
                  <div class="thumbnail thumbnail-1">
                    <h3>Databases</h3>
                    {% for d in databases %}
                    <img  src="{{d.image}}" alt="">
                    <section> 
                      <a href="#"><h3>{{d.title}}</h3></a>
                      <div class="meta">
                        <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i> {{d.createdate}}</time>
                        <div class="name-author"><i class="icon-user"></i> <a href="#">{{d.author}}</a></div>
                        <a href="#" class="comments"><i class="icon-comment"></i> {{d.commentscnt}} comments</a>
                      </div> 
                      <div class="clear"></div>
                      <p>{{d.smallcontent}}</p>
                      <a href="#" class="btn btn-1">Read More</a>
                    </section>
                    {% endfor %}
                  </div>
                </li>
                <li class="span3">
                  <div class="thumbnail thumbnail-1">
                    <h3>Work</h3>
                    {% for w in work %}
                    <img  src="{{w.image}}" alt="">
                    <section> 
                      <a href="#"><h3>{{w.title}}</h3></a>
                      <div class="meta">
                        <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i> {{w.createdate}}</time>
                        <div class="name-author"><i class="icon-user"></i> <a href="#">{{w.author}}</a></div>
                        <a href="#" class="comments"><i class="icon-comment"></i> {{w.commentscnt}} comments</a>
                      </div> 
                      <div class="clear"></div>
                      <p>{{w.smallcontent}}</p>
                      <a href="#" class="btn btn-1">Read More</a>
                    </section>
                    {% endfor %}
                  </div>
                </li>
                <li class="span3">
                  <div class="thumbnail thumbnail-1">
                    <h3>Other</h3>
                    {% for o in other %}
                    <img  src="{{o.image}}" alt="">
                    <section> 
                      <a href="#"><h3>{{o.title}}</h3></a>
                      <div class="meta">
                        <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i> {{o.createdate}}</time>
                        <div class="name-author"><i class="icon-user"></i> <a href="#">{{o.author}}</a></div>
                        <a href="#" class="comments"><i class="icon-comment"></i> {{o.commentscnt}} comments</a>
                      </div> 
                      <div class="clear"></div>
                      <p>{{o.smallcontent}}</p>
                      <a href="#" class="btn btn-1">Read More</a>
                    </section>
                    {% endfor %}
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
          </div>
        </div>
      </div>
{% endblock content %}
